body
{
    background-color: #efefef;
}
.main
{
    margin: 30px;
    background-color: white;
    padding-top: 10px;
}
.btn-publish
{
    float: right;
    margin-bottom: 15px;
}
.media-object
{
    width:40px;
    height:40px;
}
.media-body{
    padding-top: 10px;
}
.text-desc
{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
}
.comment{
    margin:10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 15px;
}
.sp-comment{
    margin-top: 0;
}
.comment-area{
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.comment-area .comment-body
{
    padding: 0px 4px 4px 4px;
}
.comment-body .comment-head{
    font-size: 14px;
    margin-bottom: 8px;
}
.comment-func{
    color: #999;
    margin-top: 5px;
}
.comment-func .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.comment-func .icon:hover{
    color: #499ef3;
}