body
{
    background-color: #efefef;
}
.main
{
    margin: 30px;
    background-color: white;
    padding-top: 10px;
}
.btn-publish
{
    float: right;
    margin-bottom: 15px;
}
.media-object
{
    width:40px;
    height:40px;
}
.media-body{
    padding-top: 10px;
}
.text-desc
{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
}
.comment{
    margin:10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 15px;
}
.btn-seccond{
    margin: 10px 0;
}
.sp-comment{
    margin-top: 0;
}
.comment-area{
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.comment-area .comment-body
{
    padding: 0px 4px 4px 4px;
}
.comment-body .comment-head{
    font-size: 14px;
    margin-bottom: 8px;
}
.comment-func{
    color: #999;
    margin-top: 5px;
}
.comment-func-second{
    position:relative;
    margin-left: 6px;
    font-size: 15px;
    cursor: pointer;
}
.comment-func .active{
    color: #499ef3;
}
.comment-func-second:hover{
    color: #499ef3;
}
.comment-second{
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #eee;
    padding-top: 15px;
}

.comment-number{
    position: absolute;
    bottom: 0px;
    left: 18px;
}
.question-tag{
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}
.question-rela {
    list-style: none;
    font-size: 13px;
    padding-left: 0;
    line-height: 24px;

}
.question-rela li a{
    text-decoration: none;
}
.question-rela li a:hover{
    color: #0087fc;
}
.img-author{
    width: 100%;
}
.label-tag{
    display: none;
    list-style: none;
    padding-left: 5px;
}
.footer
{
    text-align: center;
    color: #666;
    height: 39px;
}