<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>视频详情</title>
    <head th:insert="~{head ::importhead}"></head>
</head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>
<div th:insert="~{head :: head}"></div>

<div class="container-fluid main">
    <div class="row">
        <!--目录 提纲 aid=83217401&page=1-->
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <h4>视频选集</h4>
            <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question-rela">
                <li>
                    <a href="@{/video(page=1,aid=${aid})}">开篇介绍</a>
                </li>
                <li>
                    <a href="@{/video(page=2,aid=${aid})}">快速搭建springboot项目</a>
                </li>
            </ul>
        </div>
        <!--视频模块-->
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:30px;">
                <iframe th:src="@{//player.bilibili.com/player.html(aid=${aid},page=${page})}" scrolling="no"
                        border="0" frameborder="no" framespacing="0" allowfullscreen="true"
                        style="width: 100%;min-height: 500px;"></iframe>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
        </div>
    </div>
</div>
<div th:insert="~{head :: foot}"></div>
</body>
</html>